.elem {
  height: 100%; /* Забезпечує, щоб body займало всю висоту сторінки */
  margin: 0;
  display: flex;
 justify-content: center;
  align-items: center;
}


.container {
  font-family: Arial, sans-serif;
  font-size: 24px;
  width: 350px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.child {
  width: 100%;
  height: auto;
}
